<div class="book-body" style="height: 75vh;">
    <table>
        <tr>
            <td style="width: 25%;">
                <img src="../public/images/<%- info.cover %>" width="315px" height="400px"/>
            </td>
            <td style="width: 55%;">
                <h2><%- info.title %></h2>
                <p><h3>Summary: </h3></p>
                <p><%- info.description %></p>
                <p><strong>Author: </strong> <%- info.author %></p>
                <p><strong>Publisher: </strong><%- info.publisher %></p>
            </td>
        </tr>
    </table>
</div>