<div class="book-body" style="height: 75vh;">
    <table>
        <tr>
            <td style="width: 25%;">
                <img src="../public/images/<%- info.cover %>" width="315px" height="400px"/>
            </td>
            <td style="width: 55%;">
                <form action="/books/<%- info.id %>/update" method="POST">
                    <h2>Title: </h2>
                    <input type="text"
                    name="title"
                    size="50%"
                    required="required"
                    placeholder="<%- info.title %>" />

                    <p><h3>Summary: </h3></p>
                    <p><%- info.description %></p>
            
                    <p><strong>Author: </strong></p>
                    <input type="text"
                    name="author"
                    size="50%"
                    required="required"
                    placeholder="<%- info.author %>"/>
            
                    <p><strong>Publisher: </strong></p>
                    <input type="text"
                    name="publisher"
                    size="50%"
                    placeholder="<%- info.publisher %>" />
                    <br>
                    <br>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>
</div>